* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #ffffff;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  color: #555;
  background-color: #f1f1f1;
  border: none;
  transition: all 0.2s ease;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
}

/* Ladder Navigation */
#leaderboard {
  padding: 50px;
}

@media (max-width: 700px) {
  #leaderboard {
    padding: 40px 0;
  }
}

.ladder-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid #8ab4f8;
}

@media (max-width: 700px) {
  .ladder-nav {
    flex-direction: column;
    border: none;
  }
}

.ladder-nav .ladder-title {
  flex: 2;
  font-size: 20px;
  color: #ffffff !important;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .ladder-nav .ladder-title {
    margin-bottom: 20px;
  }
}

.ladder-title h3 {
  margin-bottom: 0px !important;
}

.ladder-nav .ladder-search {
  flex: 1;
  padding-right: 25px;
  position: relative;
}

.ladder-nav .ladder-search input {
  color: #747474;
}

.ladder-nav a {
  margin-top: 15px;
}

.clear-icon {
  position: absolute;
  font-size: 24px;
  font-weight: 600;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #747474;
}

/* Leaderboard Results */
.leaderboard-results {
  display: block;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #8ab4f8;;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

.t-head {
  width: 100%;
  box-sizing: border-box;
}
.leaderboard-results .rankings-header {
  border-bottom: 0.5px solid #747474;
}

.leaderboard-results thead th {
  padding: 25px;
  color: #747474;
  font-size: 14px;
  font-weight: bold;
}

.leaderboard-results tbody td {
  padding: 15px 25px;
  background: #ffffff;
  font-size: 16px;
  border-bottom: 1px solid #ffffff;
}

.leaderboard-results tbody td:nth-of-type(7) {
  font-weight: bold;
}
.leaderboard-results tbody tr:hover{
  background: #4285f4;
  border-radius: 10px !important;
  color: white;
}
.leaderboard-results tbody tr:hover td {
  background: #4285f4;
  color: white;
}

.leaderboard-results tbody tr {
  color: #747474;
}

.leaderboard-results tbody tr:first-child {
  color: #ea4335;
}

.leaderboard-results tbody span {
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 50%;
}

.leaderboard-results tbody tr:first-child span {
  background: #5055cb;
  color: white;
}

.leaderboard-results tbody tr span {
  background: #262626;
  color: #747474;
}

